::-moz-selection {
  background: $color-selection;
}

::selection {
  background: $color-selection;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background: $color-bg url('../img/bg-body.gif');
  color: $color;
  font: 150%/1.4 Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0 30px;
  position: relative;

  @media screen and (max-width: 700px) {
    padding: 0;
  }

}

footer,
header,
main {
  display: block;
}

code {
  font-size: 1em;
}

a {
  background: transparent;
  border: 0;
  color: $color-link;
  font-weight: bold;
  text-decoration: none;

  &:focus {
    outline: 1px dotted;
  }

  &:hover,
  &:focus {
    color: $color-link-hover;
  }

}

h1,
h2 {
  font: normal 420%/1.1 'ChunkFiveRegular', serif;
  margin: 0 0 .1em;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, .25);
}

h1 {
  font-size: 350%;

  @media screen and (min-width: 700px) {
    font-size: 420%;
  }

}

h2 {
  color: $color-heading;
  font-size: 250%;
  margin-bottom: .1em;
  margin-top: .5em;
  text-align: center;

  @media screen and (min-width: 700px) {
    font-size: 300%;
  }

}

h1 a,
h1 a:hover {
  color: $color-heading;
  font-weight: normal;
  text-decoration: none;
}

img {
  border: 0;
  display: block;
  height: auto;
  max-width: 100%;
}

option,
select {
  font: 100% Arial, 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
  cursor: pointer;
}

p {
  margin: 0 0 1em;
}

pre {
  background: rgba(0, 0, 0, .3);
  border-radius: .4em;
  color: #fff;
  display: block;
  margin: 0 0 1em;
  overflow-x: auto;
  padding: 8px 10px;

  code {
    font-size: 12px;
    line-height: 1.6;
  }

}

strong {
  font-weight: bold;
}

ul {
  margin: 0 0 1em;
  padding-left: 20px;
}
