@font-face {
  font-family: 'ChunkFiveRegular';
  src: url('../fonts/chuckfive/Chunkfive.eot');
  src: local('ChunkFive'), local('ChunkFive'), url('../fonts/chuckfive/Chunkfive.woff') format('woff'), url('../fonts/chuckfive/Chunkfive.ttf') format('truetype'), url('../fonts/chuckfive/Chunkfive.svg#ChunkFive') format('svg');
}
