@import '_colors';

@import url('./reset.css');

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  background: $color-bg url('../img/bg-body.gif');
  color: $color;
  font: 150%/1.4 Helvetica, Arial, sans-serif;
  padding: 0 30px;
  position: relative;
}

p,
ul,
pre {
  margin-bottom: 1em;
}

ul {
  margin-left: 20px;
}

a {
  color: $color-link;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;

  &:focus {
    outline: 1px dotted;
  }

  &:hover,
  &:focus {
    color: $color-link-hover;
    text-decoration: none;
  }

}

select,
option {
  font: 100% Arial, 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
}

select,
option {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

::selection {
  background: $color-selection;
}

::-moz-selection {
  background: $color-selection;
}

h1,
h2 {
  font: normal 420%/1.1 'ChunkFiveRegular', serif;
  margin: 0 0 .1em;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, .25);
}

h2 {
  color: $color-heading;
  font-size: 300%;
  margin-bottom: .1em;
  margin-top: .5em;
  text-align: center;
}

.forkme {
  border: 0;
  height: 149px;
  position: absolute;
  right: 0;
  top: 0;
  width: 149px;
}

h1 a,
h1 a:hover {
  color: $color-heading;
  font-weight: normal;
  text-decoration: none;
}

.subtitle {
  color: $color-subtitle;
}

.wrap {
  margin: 0 auto;
  max-width: 100%;
  padding: 30px 0 0;
  width: 57em;
}

.header {
  padding: 1em 0 2em;
  text-align: center;
}

pre {
  background: rgba(0, 0, 0, .3);
  border-radius: .4em;
  color: #fff;
  overflow-x: auto;
  padding: 8px 10px;

  code {
    font-size: 12px;
    line-height: 1.6;
  }

}

.selectable {
  font-size: 1.3em;
}

.row {
  height: 1%;
  padding: 2em 20px 0;

  &:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
  }

  .col-1 {
    float: left;
    padding: 0 0 1em;
    width: 49%;
  }

  .col-2 {
    float: right;
    padding: 0 0 1em;
    width: 49%;
  }

}

.informations {
  border-top: 1px solid rgba(0, 0, 0, .5);

  ul {
    margin: 0;
  }

  .row {
    border-bottom: 1px solid rgba(0,  0, 0, .5);
    border-top: 1px solid rgba(255, 255, 255, .08);
  }

}

.button {
  margin: 1em 0 2em;
  text-align: center;

  a {
    background: rgba(162, 107, 20, .3);
    border-radius: .4em;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    font-size: larger;
    padding: 8px 10px 6px;
    text-decoration: none;

    &:hover {
      background: rgba(162, 107, 20, .25);
    }

  }

}

.credits {
  border-bottom: none;
  font-size: 70%;
  opacity: .5;
  padding-top: 1.8em;
  text-align: center;

  p {
    margin: 0;
    padding: 0 0 .7em;
  }

}

@media screen and (max-width: 700px) {

  body {
    padding: 0px;
  }

  h1 {
    font-size: 350%;
  }

  h2 {
    font-size: 250%;
  }

  .forkme {
    height: 100px;
    width: 100px;
  }

  .row {

    .col-1 {
      margin: 0;
      padding: 0;
      width: 100%;
    }

     .col-2 {
      float: left;
      width: 100%;
    }

  }

}
