<div class="copyable">
    {% highlight bash %} $ {{ include.code }} {% endhighlight %}
</div>

<script>
    if (navigator.clipboard) {
        for (let element of document.getElementsByClassName("copyable")) {
            const text = element.innerText;
            const btn = document.createElement("button");
            btn.innerHTML = "📋";
            btn.setAttribute('aria-label', "Copy to clipboard");
            btn.onclick= () => navigator.clipboard.writeText(text)
            element.appendChild(btn);
        }
    }
</script>
