<form id="newsletter"
  action="https://brew.us17.list-manage.com/subscribe/post?u=d167156eb854fd2b002d85938&amp;id=8b2424147f"
  method="post" target="popupwindow">
  <h3>
    <label for="newsletter-email">Subscribe to be notified about new posts</label>
  </h3>
  <p>
    <input id="newsletter-email" type="email" name="EMAIL" minlength="6">
  </p>

  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input type="text" name="b_d167156eb854fd2b002d85938_8b2424147f" tabindex="-1">
  </div>

  <input id="newsletter-submit" type="submit" name="subscribe" value="Subscribe" />
</form>
