.forkme {
  background: url('../img/right-grey.png') no-repeat;
  background-size: cover;
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;

  @media screen and (min-width: 700px) {
    height: 149px;
    width: 149px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 1.5),
     only screen and (min--moz-device-pixel-ratio: 1.5),
     only screen and (min-device-pixel-ratio: 1.5) {
      background-image: url('../img/right-grey@2x.png');
  }

}