.informations {
  border-top: 1px solid rgba(0, 0, 0, .5);

  ul {
    margin: 0;
  }

  .row {
    border-bottom: 1px solid rgba(0,  0, 0, .5);
    border-top: 1px solid rgba(255, 255, 255, .08);
  }

}
