---
algolia:
  apiKey: e3369d62b2366b374c54b2c5a2835a00
  indexName: brew_all
  appId: D9HG3G8GS4
  container: '#search-container'
---
{% assign t = site.data.locales[page.lang][page.lang] -%}
<!DOCTYPE html>
<html {% if page.direction == "rtl" %}dir="rtl" {% endif %}lang="{{ page.lang | default: "en" }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% if page.title -%}
      <title>{{ page.title }} — {{ site.title }}</title>
    {% elsif t.subtitle -%}
      {% if page.url == "/" or page.direction == "rtl" -%}
        <title>{{ site.title }} — {{ t.subtitle }}</title>
      {% else -%}
        <title>{{ t.subtitle }} — {{ site.title }}</title>
      {% endif -%}
    {% else -%}
      <title>{{ site.title }}</title>
    {% endif -%}
    {% seo title=false -%}
    {% if site.feed -%}
      {% include feed.html -%}
    {% endif %}
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="{{ "/assets/img/favicon.ico" | relative_url }}">
    <link rel="apple-touch-icon" href="{{ "/assets/img/apple-touch-icon.png" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}" type="text/css" media="screen">
    <link rel="preconnect" href="https://{{ layout.algolia.appId }}-dsn.algolia.net" crossorigin>
    {% if site.url == "http://localhost:4000" -%}
      <script src="https://cdn.jsdelivr.net/npm/@khanacademy/tota11y/dist/tota11y.min.js" crossorigin="anonymous" async></script>
    {% endif -%}
    {% if site.data.locales and page.lang -%}
      {% assign locales = site.data.locales | sort -%}
      {% for locale in locales -%}
        {% assign lang = locale[0] -%}
        {% if lang == "en" -%}
          <link rel="alternate" hreflang="en" href="{{ site.url }}">
          <link rel="alternate" hreflang="x-default" href="{{ site.url }}">
        {% else -%}
          <link rel="alternate" hreflang="{{ lang }}" href="{{ lang | prepend: '/index_' | prepend: site.url }}">
        {% endif -%}
      {% endfor -%}
    {% endif -%}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3/dist/style.min.css">
    {% if page.url == "/" -%}
      {% for rel_me_url in site.link_rel_me_urls -%}
        <link href="{{rel_me_url}}" rel="me">
      {% endfor -%}
    {% endif -%}
  </head>
  <body>
    <div id="wrap">
      <div id="header"{% if page.header-class %} class="{{ page.header-class }}"{% endif %}>
        {% if page.logo -%}
          <img alt="{{ page.title }} logo" src="{{ page.logo | relative_url }}" width="128" height="128">
        {% elsif site.logo -%}
          <img alt="{{ site.title }} logo" src="{{ site.logo | relative_url }}" width="128" height="128">
        {% else -%}
          <img alt="Homebrew logo" src="{{ "/assets/img/homebrew.svg" | relative_url }}" width="128" height="128">
        {% endif -%}
        <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        {% if t.subtitle -%}
          <p id="subtitle"><strong>{{ t.subtitle }}</strong></p>
        {% endif -%}
        <div id="search-container"></div>

        {% if page.lang -%}
          <select id="language" onchange="loadLanguage(this.options[this.selectedIndex].value)">
            {% for locale in locales -%}
              {% assign lang = locale[0] -%}
              {% assign locale_name = locale[1][lang].locale_name -%}
              {% if page.lang == lang -%}
                <option value="{{ lang }}" selected="selected">{{ locale_name }}</option>
              {% else -%}
                <option value="{{ lang }}">{{ locale_name }}</option>
              {% endif -%}
            {% endfor -%}
          </select>
        {% endif -%}
      </div>

      {{ content }}
    </div>

    {% if site.forkme_nwo -%}
      {% assign forkme_url = "https://github.com/" |
                             append: site.forkme_nwo -%}
    {% elsif site.github.repository_nwo and site.github.source.branch and site.github.source.path -%}
      {% assign forkme_url = "https://github.com/" |
                             append: site.github.repository_nwo |
                             append: "/edit/" |
                             append: site.github.source.branch |
                             append: site.github.source.path |
                             append: "/" |
                             append: page.path -%}
    {% else -%}
      {% assign forkme_url = "https://github.com/Homebrew/brew" -%}
    {% endif -%}

    <a href="{{ forkme_url }}"><img id="forkme" src="{{ "/assets/img/forkme_right_gray_6d6d6d.svg" | relative_url }}" alt="Fork me on GitHub"></a>
    <script>
      function loadLanguage(lang) {
        if (lang === {{ page.lang | jsonify }}) {
          return;
        } else if (lang === 'en') {
          window.location.assign('/');
        } else {
          window.location.assign('/index_' + lang);
        }
      }

      function loadAnchors() {
        anchors.options = {
          placement: 'left',
          visible: 'touch',
        };
        anchors.add('#page > h2, #page > h3, #page > h4, #page > h5, #page > h6');
      };

      function loadSearch(lang, site) {
        docsearch(Object.assign(
          { searchParameters: { facetFilters: ['site: ' + site] } },
          { initialQuery: new URLSearchParams(window.location.search).get('search') },
          { placeholder: "{% if t.pagecontent.search %}{{ t.pagecontent.search }}{% else %}Search{% endif %} {% if page.search_name %}{{ page.search_name }}{% else %}Homebrew{% endif %}" },
          {{ layout.algolia | jsonify }}
        ));
      };

      async function setupCopyables() {
        if (navigator.clipboard) {
          for (const element of document.getElementsByClassName('copyable')) {
            let text = element.innerText.trim();
            if (text.startsWith('$')) {
              text = text.substr(1).trimLeft();
            }

            const button = document.createElement('button');
            button.innerHTML = '📋';
            button.setAttribute('aria-label', 'Copy to clipboard');
            button.onclick = () => {
              navigator.clipboard.writeText(text);
              button.innerHTML = '✅';
              setTimeout(() => button.innerHTML='📋', 1000);
            }
            element.appendChild(button);
          }
        }
      }

      window.addEventListener("DOMContentLoaded", function() {
        setupCopyables();
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/anchor-js@5.0.0/anchor.min.js"
            integrity="sha256-aQmOEF2ZD4NM/xt4hthzREIo/2PFkOX/g01WjxEV7Ys="
            crossorigin="anonymous"
            onload="loadAnchors()"
            async></script>
    <script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3.5.2/dist/umd/index.js"
            integrity="sha256-Y1WAhww0aFm/7xcgnD56E3jWSfKlRG9DIB2Tcs8exCQ="
            crossorigin="anonymous"
            onload="loadSearch('{{ page.lang }}', '{{ page.search_site }}')"
            async></script>
  </body>
</html>
