<!DOCTYPE html>
<html lang="{{ page.lang }}"{% if page.direction == "rtl" %} dir="rtl"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta name="dc.creator" content="Rémi Prévost - http://exomel.com">
    {% if page.direction == "rtl" %}
    <title>{{ page.subtitle }} — Homebrew</title>
    {% else %}
    <title>Homebrew — {{ page.subtitle }}</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/screen.css" type="text/css" media="screen">
    {% if page.font-family %}
    <link href="//fonts.googleapis.com/css?family=PT+Serif:700&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <style type="text/css">
        h2, h3 {
            font-family: {{ page.font-family }}, sans-serif;
            font-weight: bold;
        }
    </style>
    {% endif %}
    <script type="text/javascript">
        function selectText(elem) {
            if (document.selection) {
                var range = document.body.createTextRange();
                range.moveToElementText(elem);
                range.select();
            } else if (window.getSelection) {
                var range = document.createRange();
                range.selectNode(elem);
                window.getSelection().addRange(range);
            }
        }

        function loadLanguage(lang) {
            if (lang === {{ page.lang | jsonify }}) {
                return;
            } else if (lang === "en") {
                window.location.replace("index.html");
            } else {
                window.location.replace("index_" + lang + ".html");
            }
        }
    </script>
  </head>
  <body>
    <div class="wrap">
      <header class="header" role="banner">
        <h1><a href="./">Homebrew</a></h1>
        <p class="subtitle"><strong>{{ page.subtitle }}</strong></p>

        <select onchange="loadLanguage(this.options[this.selectedIndex].value)">
          {% for lang in site.langs %}
            {% if page.lang == lang.langcode %}
            <option value="{{ lang.langcode | downcase }}" selected="selected">{{ lang.lang_string }}</option>
            {% else %}
            <option value="{{ lang.langcode | downcase }}">{{ lang.lang_string }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </header>

      <main class="main" role="main">
        <section class="section">
          <div class="row">
            <div class="col-50">
              <p>{{ page.pagecontent.what }}</p>
            </div>
            <div class="col-50">
{% highlight bash %}
$ brew install wget
{% endhighlight %}
            </div>
          </div>
        </section>
        <section class="section">
          <div class="row">
            <div class="col-50">
              <p>{{ page.pagecontent.how }}</p>
            </div>
            <div class="col-50">
{% highlight bash %}
$ cd /usr/local
$ find Cellar
Cellar/wget/1.15
Cellar/wget/1.15/bin/wget
Cellar/wget/1.15/share/man/man1/wget.1

$ ls -l bin
bin/wget -> ../Cellar/wget/1.15/bin/wget
{% endhighlight %}
            </div>
          </div>
        </section>
        <section class="section">
          <div class="row">
            <div class="col-50">
              <p>{{ page.pagecontent.prefix }}</p>
            </div>
          </div>
        </section>
        <section class="section">
          <div class="row">
            <div class="col-50">
              <p>{{ page.pagecontent.createpackages }}</p>
            </div>
            <div class="col-50">
{% highlight bash %}
$ brew create http://foo.com/bar-1.0.tgz
Created /usr/local/Library/Formula/bar.rb
{% endhighlight %}
            </div>
          </div>
        </section>
        <section class="section">
          <div class="row">
            <div class="col-50">
              <p>{{ page.pagecontent.hack }}</p>
            </div>
            <div class="col-50">
{% highlight bash %}
$ brew edit wget # opens in $EDITOR!
{% endhighlight %}
            </div>
          </div>
        </section>
        <section class="section">
          <div class="row">
            <div class="col-50">
              <p>{{ page.pagecontent.formula }}</p>
            </div>
            <div class="col-50">
{% highlight ruby %}
class Wget < Formula
  homepage "https://www.gnu.org/software/wget/"
  url "https://ftp.gnu.org/gnu/wget/wget-1.15.tar.gz"
  sha1 "f3c925f19dfe5ed386daae4f339175c108c50574"

  def install
    system "./configure", "--prefix=#{prefix}"
    system "make", "install"
  end
end
{% endhighlight %}
            </div>
          </div>
        </section>
        <section class="section">
          <div class="row">
            <div class="col-50">
              <p>{{ page.pagecontent.complement }}</p>
            </div>
          </div>
        </section>

        <section class="section">
          <h2 id="install">{{ page.pagecontent.install.install }}</h2>
          <pre style='clear:both;text-align:center;margin-bottom:0.9em'><code class='selectable' onclick="selectText(this)">ruby -e &quot;$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)&quot;</code></pre>
          <div class="row">
            <div class="col-50">
              <p>{{ page.pagecontent.install.paste }}</p>
            </div>
            <div class="col-50">
              <p>{{ page.pagecontent.install.what }}</p>
            </div>
          </div>
        </section>

        <section class="section">
          <h2 id="further-doc">{{ page.pagecontent.doc.further }}</h2>
          <p class="text-center"><a href="https://github.com/Homebrew/homebrew/tree/master/share/doc/homebrew#readme" class="button">{{ page.pagecontent.doc.wiki }}</a></p>
        </section>

      </main>
      <footer class="footer" role="contentinfo">
        <p>{{ page.pagecontent.foot.code }} {{ page.pagecontent.foot.page }} {{ page.pagecontent.foot.translation }}</p>
      </footer>
    </div>
    <a href="https://github.com/Homebrew/homebrew" class="forkme"></a>
  </body>
</html>
