---
layout: base
---
<div id="informations">
  <ul>
    <li>
      <div class="group row">
        <h2 id="install">{{ page.pagecontent.install.install }}</h2>
        <br>
        <pre style='clear:both;text-align:center;margin-bottom:0.9em'><code id='selectable' onclick="selectText(this)">/usr/bin/ruby -e &quot;$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)&quot;</code></pre>
        <div class="col-1">
          <p>{{ page.pagecontent.install.paste }}</p>
        </div>
        <div class="col-2">
          <p>{{ page.pagecontent.install.what }}</p>
        </div>
      </div>
    </li>

    <li>
      <div class="group row">
       <h2 id="question">{{ page.pagecontent.question }}</h2>
       <br>
        <div class="col-1">
          <p>{{ page.pagecontent.what }}</p>
        </div>
        <div class="col-2">
          <figure class="highlight"><pre><code class="language-bash" data-lang="bash"><span class="gp">$ </span>brew install wget</code></pre></figure>
        </div>
      </div>
    </li>
    <li>
      <div class="group row">
        <div class="col-1">
          <p>{{ page.pagecontent.how }}</p>
        </div>
        <div class="col-2">
<figure class="highlight"><pre><code class="language-bash" data-lang="bash"><span class="gp">$ </span><span class="nb">cd</span> /usr/local
<span class="gp">$ </span>find Cellar
Cellar/wget/1.16.1
Cellar/wget/1.16.1/bin/wget
Cellar/wget/1.16.1/share/man/man1/wget.1

<span class="gp">$ </span>ls -l bin
bin/wget -&gt; ../Cellar/wget/1.16.1/bin/wget</code></pre></figure>
        </div>
      </div>
    </li>
    <li>
      <div class="group row">
        <div class="col-1">
          <p>{{ page.pagecontent.prefix }}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="group row">
        <div class="col-1">
          <p>{{ page.pagecontent.createpackages }}</p>
        </div>
        <div class="col-2">
<figure class="highlight"><pre><code class="language-bash" data-lang="bash"><span class="gp">$ </span>brew create https://foo.com/bar-1.0.tgz
Created /usr/local/Library/Formula/bar.rb</code></pre></figure>
        </div>
      </div>
    </li>
    <li>
      <div class="group row">
        <div class="col-1">
          <p>{{ page.pagecontent.hack }}</p>
        </div>
        <div class="col-2">
          <figure class="highlight"><pre><code class="language-bash" data-lang="bash"><span class="gp">$ </span>brew edit wget <span class="c"># {{ page.pagecontent.editor }}</span></code></pre></figure>
        </div>
      </div>
    </li>
    <li>
      <div class="group row">
        <div class="col-1">
          <p>{{ page.pagecontent.formula }}</p>
        </div>
        <div class="col-2">
<figure class="highlight"><pre><code class="language-ruby" data-lang="ruby"><span class="k">class</span> <span class="nc">Wget</span> <span class="o">&lt;</span> <span class="no">Formula</span>
  <span class="n">homepage</span> <span class="s2">"https://www.gnu.org/software/wget/"</span>
  <span class="n">url</span> <span class="s2">"https://ftp.gnu.org/gnu/wget/wget-1.15.tar.gz"</span>
  <span class="n">sha256</span> <span class="s2">"52126be8cf1bddd7536886e74c053ad7d0ed2aa89b4b630f76785bac21695fcd"</span>

  <span class="k">def</span> <span class="nf">install</span>
    <span class="nb">system</span> <span class="s2">"./configure"</span><span class="p">,</span> <span class="s2">"--prefix=</span><span class="si">#{</span><span class="n">prefix</span><span class="si">}</span><span class="s2">"</span>
    <span class="nb">system</span> <span class="s2">"make"</span><span class="p">,</span> <span class="s2">"install"</span>
  <span class="k">end</span>
<span class="k">end</span></code></pre></figure>
        </div>
      </div>
    </li>
    <li>
      <div class="group row">
        <div class="col-1">
          <p>{{ page.pagecontent.complement }}</p>
        </div>
      </div>
    </li>

    <li>
      <div class="group row">
        <h2 id="further-doc">{{ page.pagecontent.doc.further }}</h2>
        <div class="button">
          <p><a href="https://git.io/brew-docs">https://git.io/brew-docs</a></p>
        </div>
      </div>
    </li>

    <li>
      <div class="group row">
        <h2 id="homebrew-community">{{ page.pagecontent.doc.community }}</h2>
        <div class="button">
          <p><a href="http://discourse.brew.sh">http://discourse.brew.sh</a></p>
        </div>
      </div>
    </li>

    <li>
      <div class="group row">
        <h2 id="homebrew-blog">{{ page.pagecontent.doc.blog }}</h2>
        <div class="button">
          <p><a href="/blog">http://brew.sh/blog</a></p>
        </div>
      </div>
    </li>

    <li>
      <div class="group row credits">
        <p>{{ page.pagecontent.foot.code }} {{ page.pagecontent.foot.page }} {{ page.pagecontent.foot.translation }}</p>
      </div>
    </li>
  </ul>
</div>
