<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="dc.creator" content="Rémi Prévost - http://exomel.com">
    {% if page.direction == "rtl" %}
    <title>{{ page.subtitle }} — Homebrew</title>
    {% else %}
    <title>Homebrew — {{ page.subtitle }}</title>
    {% endif %}
    <link rel="stylesheet" href="./css/screen.css" type="text/css" media="screen">
    <link rel="stylesheet" href="./css/fonts/chunkfive/chunkfive.css" type="text/css" media="screen">
    {% if page.font-family %}
    <link href="http://fonts.googleapis.com/css?family=PT+Serif:700&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <style type="text/css">
        h2, h3 {
            font-family: {{ page.font-family }}, sans-serif;
            font-weight: bold;
        }
    </style>
    {% endif %}
    {% if page.direction == "rtl" %}
    <style type="text/css">
        #informations .row .col-1 {
            text-align: right;
            direction: rtl;
            float: right;
        }
        #informations .row .col-2 {
            float: left;
        }
    </style>
    {% endif %}
    <script type="text/javascript">
        function selectText(elem) {
            if (document.selection) {
                var range = document.body.createTextRange();
                range.moveToElementText(elem);
                range.select();
            } else if (window.getSelection) {
                var range = document.createRange();
                range.selectNode(elem);
                window.getSelection().addRange(range);
            }
        }

        function loadLanguage(lang) {
            if (lang === {{ page.lang | jsonify }}) {
                return;
            } else if (lang === "en") {
                window.location.replace("index.html");
            } else {
                window.location.replace("index_" + lang + ".html");
            }
        }
    </script>
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <h1><a href="./">Homebrew</a></h1>
        <p id="subtitle"><strong>{{ page.subtitle }}</strong></p>

        <select onchange="loadLanguage(this.options[this.selectedIndex].value)">
          {% for lang in site.langs %}
            {% if page.lang == lang.langcode %}
            <option value="{{ lang.langcode | downcase }}" selected="selected">{{ lang.lang_string }}</option>
            {% else %}
            <option value="{{ lang.langcode | downcase }}">{{ lang.lang_string }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>

      <div id="informations">
        <ul>
          <li>
            <div class="group row">
              <div class="col-1">
                <p>{{ page.pagecontent.what }}</p>
              </div>
              <div class="col-2">
                <pre><code><span style="color: #e3d796;">$</span> brew install wget</code></pre>
              </div>
            </div>
          </li>
          <li>
            <div class="group row">
              <div class="col-1">
                <p>{{ page.pagecontent.how }}</p>
              </div>
              <div class="col-2">
                <pre><code><span style="color: #e3d796;">$</span> cd /usr/local
<span style="color: #e3d796;">$</span> find Cellar
Cellar/wget/1.12
Cellar/wget/1.12/bin/wget
Cellar/wget/1.12/share/man/man1/wget.1

<span style="color: #e3d796;">$</span> ls -l bin
bin/wget -&gt; ../Cellar/wget/1.12/bin/wget</code></pre>

              </div>
            </div>
          </li>
          <li>
            <div class="group row">
              <div class="col-1">
                <p>{{ page.pagecontent.prefix }}</p>
              </div>
            </div>
          </li>
          <li>
            <div class="group row">
              <div class="col-1">
                <p>{{ page.pagecontent.createpackages }}</p>
              </div>
              <div class="col-2">
                <pre><code><span style="color: #e3d796;">$</span> brew create http://foo.com/bar-1.0.tgz
Created /usr/local/Library/Formula/bar.rb
</code></pre>
              </div>
            </div>
          </li>
          <li>
            <div class="group row">
              <div class="col-1">
                <p>{{ page.pagecontent.hack }}</p>
              </div>
              <div class="col-2">
                <pre><code><span style="color: #e3d796;">$</span> brew edit wget <span style="color: #666;"># opens in $EDITOR!</span></code></pre>
              </div>
            </div>
          </li>
          <li>
            <div class="group row">
              <div class="col-1">
                <p>{{ page.pagecontent.formula }}</p>
              </div>
              <div class="col-2">
                <pre class="overflow"><code><span style="color: #8a9597;">require</span> <span style="color: #c2c98f;">'</span><span style="color: #a2a96f;">formula</span><span style="color: #c2c98f;">'</span>

<span style="color: #8a9597;">class</span> <span style="color: #e3d796;"><em>Wget</em></span> &lt; Formula
  homepage <span style="color: #c2c98f;">'</span><span style="color: #a2a96f;">http://www.gnu.org/wget/</span><span style="color: #c2c98f;">'</span>
  url <span style="color: #c2c98f;">'</span><span style="color: #a2a96f;">http://ftp.gnu.org/wget-1.12.tar.gz</span><span style="color: #c2c98f;">'</span>
  md5 <span style="color: #c2c98f;">'</span><span style="color: #a2a96f;">308a5476fc096a8a525d07279a6f6aa3</span><span style="color: #c2c98f;">'</span>

  <span style="color: #8a9597;">def</span> <span style="color: #a999ac;">install</span>
    system <span style="color: #c2c98f;">"</span><span style="color: #a2a96f;">./configure</span><span style="color: #c2c98f;"> </span><span style="color: #a2a96f;">--prefix=</span><span style="color: #c2c98f;">#{</span>prefix<span style="color: #c2c98f;">}</span><span style="color: #c2c98f;">"</span>
    system <span style="color: #c2c98f;">'</span><span style="color: #a2a96f;">make install</span><span style="color: #c2c98f;">'</span>
  <span style="color: #8a9597;">end</span>
<span style="color: #8a9597;">end</span></code></pre>
              </div>
            </div>
          </li>
          <li>
            <div class="group row">
              <div class="col-1">
                <p>{{ page.pagecontent.complement }}</p>
              </div>
            </div>
          </li>

          <li>
            <div class="group row">
              <h2 id="install">{{ page.pagecontent.install.install }}</h2>
              <pre style='clear:both;text-align:center;margin:0 -3em;margin-bottom:0.9em'><code id='selectable' onclick="selectText(this)">ruby -e &quot;$(curl -fsSL https://raw.github.com/Homebrew/homebrew/go/install)&quot;</code></pre>
              <div class="col-1">
                <p>{{ page.pagecontent.install.paste }}</p>
              </div>
              <div class="col-2">
                <p>{{ page.pagecontent.install.what }}</p>
              </div>
            </div>
          </li>

          <li>
            <div class="group row">
              <h2 id="further-doc">{{ page.pagecontent.doc.further }}</h2>
              <div class="button">
                <p><a href="https://github.com/Homebrew/homebrew/wiki">{{ page.pagecontent.doc.wiki }}</a></p>
              </div>
            </div>
          </li>

          <li>
            <div class="group row credits">
              <p>{{ page.pagecontent.foot.code }} {{ page.pagecontent.foot.page }} {{ page.pagecontent.foot.translation }}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <a href="http://github.com/Homebrew/homebrew"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
  </body>
</html>
